<aside
  class="d-flex flex-column flex-shrink-0 p-3 border-end position-fixed start-0 top-0 bottom-0 overflow-auto"
  style="width: 260px"
>
  <a
    routerLink="/"
    class="d-flex align-items-center p-1 mb-3 text-reset text-decoration-none border-bottom position-sticky top-0"
  >
    <i class="bi bi-boxes fs-4"></i>
    <span class="fs-5 ms-2 fw-semibold">{{ title }}</span>
  </a>

  <ul class="nav nav-pills flex-column mb-auto gap-2">
    @for (item of navItems; track item) {
    <li>
      <a
        [routerLink]="item.url"
        class="d-flex align-items-center nav-link text-reset text-decoration-none"
      >
        <i class="bi" [ngClass]="item.icon"></i>
        <span class="ms-2">{{ item.label | translate }}</span>
      </a>
    </li>
    }
  </ul>

  <div class="border-top position-sticky bottom-0">
    <a
      role="button"
      class="d-flex align-items-center py-1 px-3 text-decoration-none text-reset rounded mt-3 cursor-pointer"
      (click)="onOpenSettings.emit(true)"
    >
      <i class="bi bi-gear fs"></i>
      <span class="ms-2">{{ "navigation.settings" | translate }}</span>
    </a>
  </div>
</aside>
