p {
  margin: 0;
}

.container {
  border: 2px solid #1986d9;
  padding: 10px;
  height: 50%;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.hand-emoji-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.hand-emoji-container.visible {
  display: block;
}

.hand-emoji {
  font-size: 40px;
  transition: transform 1s ease-in-out;
  transform-origin: 50% 100%;
  margin-top: 40px;
}

.hand-emoji.waving {
  animation: waveAnimation 1.5s ease-in-out infinite;
}

.btn-secondary {
  background-color: #1986d9;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #146cb0;
}

.btn-secondary:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.fragment-title {
  font-size: 2rem;
  font-weight: bold;
}

.fragment-desc {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s ease;
  max-width: 200px;
}

.custom-input::placeholder {
  color: #aaa;
}
.custom-input:focus {
  outline: none;
  border-color: #1986d9;
}
