:host {
  display: block;
}

.task-card {
  cursor: move;
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  }
}

.task-placeholder {
  border: 2px dashed #b9bdc2;
  border-radius: 0.25rem;
  height: 100%;
  min-height: 120px;
}

:host ::ng-deep .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.9;

  .task-metadata {
    opacity: 0.7;
  }
}

.assignee {
  font-size: 0.75rem;
  font-weight: "normal";
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.task-card .dropdown-toggle::after {
  display: none !important;
}
