<div class="container">
  <div class="fragment-desc">
    <p class="fragment-title">Angular microfrontend</p>
    <p>
      Received from parent: <b>{{ message }}</b>
    </p>
    <p>
      Received from React: <b>{{ reactMessage }}</b>
    </p>
  </div>
  <div class="emoji-container" [class.visible]="isSpeaking">
    <div class="emoji" [class.speaking]="isSpeaking">🗣️⚛️</div>
  </div>

  <div class="input-container">
    <input
      type="text"
      class="input-field"
      [(ngModel)]="inputValue"
      placeholder="Type here..."
    />

    <button
      type="submit"
      class="btn btn-secondary"
      [disabled]="inputValue.trim() === ''"
      (click)="handleButtonClick()"
    >
      Send to ⚛️
    </button>
  </div>
</div>
