<div>
  <div class="offcanvas-header d-flex align-items-center">
    <h4 class="offcanvas-title fw-medium">
      {{ "details.title" | translate }}
    </h4>
    <button
      (click)="activeOffcanvas.dismiss()"
      class="btn-close"
      type="button"
    ></button>
  </div>

  <div class="offcanvas-body overflow-auto">
    <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.title.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('title')"
          class="form-control"
          formControlName="title"
          placeholder="{{
            'details.form.fields.title.placeholder' | translate
          }}"
          type="text"
        />
        @if (taskForm.get('title')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.status.label" | translate
        }}</label>
        <select
          [class.is-invalid]="isFieldInvalid('status')"
          class="form-select"
          formControlName="status"
        >
          <option value="">
            {{ "details.form.fields.status.placeholder" | translate }}
          </option>
          @for(status of statuses; track $index) {
          <option [value]="status.name">
            {{ "statuses." + status.name | translate }}
          </option>
          }
        </select>
        @if (taskForm.get('status')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.priority.label" | translate
        }}</label>
        <select
          [class.is-invalid]="isFieldInvalid('priority')"
          class="form-select"
          formControlName="priority"
        >
          <option value="">
            {{ "details.form.fields.priority.placeholder" | translate }}
          </option>
          @for (priority of priorities; track priority.name) {
          <option [value]="priority.name">
            {{ "priorities." + priority.name | translate }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.tag.label" | translate
        }}</label>
        <select
          [class.is-invalid]="isFieldInvalid('tag')"
          class="form-select"
          formControlName="tag"
        >
          <option value="">
            {{ "details.form.fields.tag.placeholder" | translate }}
          </option>
          @for(tag of tags; track tag.name){
          <option [value]="tag.name">
            {{ "tags." + tag.name | translate }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.dueDate.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('dueDate')"
          class="form-control"
          formControlName="dueDate"
          type="date"
        />
      </div>

      <div class="mb-3">
        @for (assignee of selectedAssignees; track assignee.id) {
        <span class="badge bg-primary me-2 mb-2">
          {{ assignee.firstName + " " + assignee.lastName }}
          <button
            type="button"
            class="btn-close btn-close-white ms-1"
            style="font-size: 0.55em"
            (click)="removeAssignee(assignee)"
          ></button>
        </span>
        }

        <select
          [class.is-invalid]="isFieldInvalid('assignees')"
          class="form-select"
          (change)="addAssignee($event)"
        >
          <option value="">
            {{ "details.form.fields.assignees.placeholder" | translate }}
          </option>
          @for (user of availableUsers(); track user.id) {
          <option [value]="user.id">
            {{ user.firstName + " " + user.lastName }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.description.label" | translate
        }}</label>
        <textarea
          [class.is-invalid]="isFieldInvalid('description')"
          class="form-control"
          formControlName="description"
          placeholder="{{
            'details.form.fields.description.placeholder' | translate
          }}"
          rows="3"
        ></textarea>
      </div>

      <div class="d-grid gap-2">
        <button
          [disabled]="taskForm.invalid"
          class="btn btn-primary"
          type="submit"
        >
          {{
            (isEditing
              ? "details.form.submit.update"
              : "details.form.submit.create"
            ) | translate
          }}
        </button>
      </div>
    </form>
  </div>
</div>
