<nav>
  <ul class="nav nav-tabs">
    @for (tab of roleTabs(); track tab.name) {
    <li class="nav-item">
      <a
        class="nav-link text-reset d-flex align-items-center gap-2"
        [class.active]="tab.active"
        [class.fw-semibold]="tab.active"
        (click)="selectRole($event, tab.role)"
        href="#"
      >
        <span>{{ "roleFilter.tabs." + tab.name | translate }}</span>
        <span class="badge text-bg-secondary">
          {{ tab.count }}
        </span>
      </a>
    </li>
    }
  </ul>
</nav>
