<div class="modal-header">
  <h1 class="modal-title fs-5 fw-semibold text-body" id="settingsModalLabel">
    {{ "settings.title" | translate }}
  </h1>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss(false)"
  ></button>
</div>

<div class="modal-body">
  <div class="mb-3 border p-3 rounded">
    <p class="mb-2 fw-semibold">
      {{ "settings.theme.label" | translate }}
    </p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="theme"
        id="lightTheme"
        value="light"
        [checked]="theme === 'light'"
        (change)="onThemeChange('light')"
      />
      <label class="form-check-label" for="lightTheme">
        {{ "settings.theme.light" | translate }}
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="theme"
        id="darkTheme"
        value="dark"
        [checked]="theme === 'dark'"
        (change)="onThemeChange('dark')"
      />
      <label class="form-check-label" for="darkTheme">
        {{ "settings.theme.dark" | translate }}
      </label>
    </div>
  </div>

  <div class="border p-3 rounded">
    <p class="mb-2 fw-semibold">
      {{ "settings.language.label" | translate }}
    </p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="language"
        id="en"
        value="en"
        [checked]="language === 'en'"
        (change)="onLanguageChange('en')"
      />
      <label class="form-check-label" for="en">
        {{ "settings.language.en" | translate }}</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="language"
        id="sk"
        value="sk"
        [checked]="language === 'sk'"
        (change)="onLanguageChange('sk')"
      />
      <label class="form-check-label" for="sk">
        {{ "settings.language.sk" | translate }}
      </label>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss(false)"
  >
    {{ "globals.cancel" | translate }}
  </button>
</div>
