<div class="modal-header">
  <h1 class="modal-title fs-5 fw-semibold text-body" id="settingsModalLabel">
    {{ "settings.title" | translate }}
  </h1>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <div class="mb-3 border p-3 rounded">
    <p class="mb-2 fw-semibold">{{ "settings.theme.label" | translate }}</p>

    @for (themeOption of availableThemes; track themeOption) {
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        [id]="themeOption"
        [name]="'theme'"
        [value]="themeOption"
        [(ngModel)]="theme"
        (ngModelChange)="changeTheme()"
      />
      <label class="form-check-label" [for]="themeOption">
        {{ "settings.theme." + themeOption | translate }}
      </label>
    </div>
    }
  </div>

  <div class="border p-3 rounded">
    <p class="mb-2 fw-semibold">{{ "settings.language.label" | translate }}</p>

    @for (langOption of availableLanguages; track langOption) {
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        [id]="langOption"
        [name]="'language'"
        [value]="langOption"
        [(ngModel)]="language"
        (ngModelChange)="changeLanguage()"
      />
      <label class="form-check-label" [for]="langOption">
        {{ "settings.language." + langOption | translate }}
      </label>
    </div>
    }
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    {{ "globals.cancel" | translate }}
  </button>
</div>
