<aside
  class="d-flex flex-column flex-shrink-0 p-3 h-100 border-end"
  style="width: 320px"
>
  <a
    routerLink="/"
    class="d-flex align-items-center p-1 mb-3 text-reset text-decoration-none border-bottom"
  >
    <i class="bi bi-boxes fs-3"></i>
    <span class="fs-5 ms-3 fw-semibold">{{ title }}</span>
  </a>

  <ul class="nav nav-pills flex-column mb-auto gap-2">
    @for (item of navItems; track item) {
    <li>
      <a
        [routerLink]="item.url"
        class="d-flex align-items-center nav-link text-reset text-decoration-none"
      >
        <i class="bi" [ngClass]="item.icon"></i>
        <span class="ms-2">{{ item.label | translate }}</span>
      </a>
    </li>
    }
  </ul>

  <div class="border-top">
    <a
      href="#settingsModal"
      role="button"
      data-bs-toggle="modal"
      class="d-flex align-items-center py-1 px-3 text-decoration-none text-reset rounded mt-3 cursor-pointer"
    >
      <i class="bi bi-gear fs"></i>
      <span class="ms-2">{{ "navigation.settings" | translate }}</span>
    </a>
  </div>
</aside>

<div
  class="modal fade"
  id="settingsModal"
  tabindex="-1"
  aria-labelledby="settingsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 fw-semibold text-body"
          id="settingsModalLabel"
        >
          {{ "settings.title" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="mb-3 border p-3 rounded">
          <p class="mb-2 fw-semibold">
            {{ "settings.theme.label" | translate }}
          </p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="theme"
              id="lightTheme"
              value="light"
              [checked]="theme === 'light'"
              (change)="setTheme('light')"
            />
            <label class="form-check-label" for="lightTheme">
              {{ "settings.theme.light" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="theme"
              id="darkTheme"
              value="dark"
              [checked]="theme === 'dark'"
              (change)="setTheme('dark')"
            />
            <label class="form-check-label" for="darkTheme">
              {{ "settings.theme.dark" | translate }}
            </label>
          </div>
        </div>

        <div class="border p-3 rounded">
          <p class="mb-2 fw-semibold">
            {{ "settings.language.label" | translate }}
          </p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="language"
              id="english"
              value="english"
              [checked]="language === 'en'"
              (change)="setLanguage('en')"
            />
            <label class="form-check-label" for="english">
              {{ "settings.language.en" | translate }}</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="language"
              id="slovak"
              value="slovak"
              [checked]="language === 'sk'"
              (change)="setLanguage('sk')"
            />
            <label class="form-check-label" for="slovak">
              {{ "settings.language.sk" | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ "settings.close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
