.widget {
  height: 22.5rem;
  display: flex;
  flex-direction: column;
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem 0.75rem;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #ccc;
    border-radius: 4px;

    &:hover {
      background: #bbb;
    }
  }
}

.task-row {
  cursor: pointer;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}
