<div class="widget border rounded pb-3 shadow-sm">
  <div class="border-bottom">
    <h4 class="px-3 py-2 mb-0">{{ "newTasksWidget.title" | translate }}</h4>
  </div>

  <div class="tasks-container">
    @for (task of filtredTasks(); track task.id) {
    <div
      class="card px-3 py-2"
      [class]="task.id === selectedTaskId() ? 'bg-success-subtle' : ''"
      (click)="onTaskToggle(task)"
    >
      <div class="d-flex align-items-center gap-2">
        <div class="col w-100">
          <div class="d-flex flex-column">
            <span class="fw-medium">{{ task.title }}</span>
            <span class="text-body-secondary small d-block text-truncate">
              {{ task.description }}
            </span>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
