<div class="widget d-flex flex-column border rounded pb-3 shadow-sm">
  <div class="border-bottom">
    <h4 class="px-3 py-2 mb-0">
      {{ "widgets.recentUsers.title" | translate }}
    </h4>
  </div>

  <div class="users-container">
    @for (user of filtredUsers(); track user.id) {
    <div
      class="user-row card px-3 py-1 mb-2"
      [class]="user.id === selectedUserId() ? 'bg-success-subtle' : ''"
      (click)="onUserToggle(user)"
    >
      <div class="d-flex align-items-center gap-2">
        <div class="col-auto">
          <i class="bi bi-person-circle fs-1" aria-hidden="true"></i>
        </div>
        <div class="col">
          <div class="d-flex flex-column">
            <span class="fw-medium"
              >{{ user.firstName }} {{ user.lastName }}</span
            >
            <span class="text-body-secondary small">{{ user.email }}</span>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
