<div class="kanban-board d-flex align-items-start gap-3 h-100" cdkDropListGroup>
  @for (column of columns; track column.id) {
  <div class="kanban-column flex-grow-1">
    <task-kanban-column
      [column]="column"
      [tasks]="getColumnTasks(column.id)"
      [users]="users"
      (onDrop)="onTaskDrop($event)"
      (onCreate)="onCreate.emit($event)"
      (onView)="onView.emit($event)"
      (onEdit)="onEdit.emit($event)"
      (onDelete)="onDelete.emit($event)"
      class="d-block h-100"
    />
  </div>
  }
</div>
