<div>
  <div class="offcanvas-header d-flex align-items-center">
    <h4 class="offcanvas-title fw-medium">
      {{ "details.title" | translate }}
    </h4>
    <button
      (click)="activeOffcanvas.dismiss()"
      class="btn-close"
      type="button"
    ></button>
  </div>

  <div class="offcanvas-body overflow-auto">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.firstName.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('firstName')"
          class="form-control"
          formControlName="firstName"
          placeholder="{{
            'details.form.fields.firstName.placeholder' | translate
          }}"
          type="text"
        />
        @if (userForm.get('firstName')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.field.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.lastName.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('lastName')"
          class="form-control"
          formControlName="lastName"
          placeholder="{{
            'details.form.fields.lastName.placeholder' | translate
          }}"
          type="text"
        />
        @if (userForm.get('lastName')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.email.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('email')"
          class="form-control"
          formControlName="email"
          placeholder="{{
            'details.form.fields.email.placeholder' | translate
          }}"
          type="email"
        />
        @if (userForm.get('email')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        } @if (userForm.get('email')?.errors?.['email']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.invalid" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.phone.label" | translate
        }}</label>
        <input
          [class.is-invalid]="isFieldInvalid('phone')"
          class="form-control"
          formControlName="phone"
          placeholder="{{
            'details.form.fields.phone.placeholder' | translate
          }}"
          type="tel"
        />
        @if (userForm.get('phone')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.role.label" | translate
        }}</label>
        <select
          [class.is-invalid]="isFieldInvalid('role')"
          class="form-select"
          formControlName="role"
        >
          <option value="" selected>
            {{ "details.form.fields.role.placeholder" | translate }}
          </option>
          @for(role of roles; track $index) {
          <option [value]="role.name">
            {{ "roles." + role.name | translate }}
          </option>
          }
        </select>
        @if (userForm.get('role')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.status.label" | translate
        }}</label>
        <select
          [class.is-invalid]="isFieldInvalid('status')"
          class="form-select"
          formControlName="status"
        >
          <option value="" selected>
            {{ "details.form.fields.status.placeholder" | translate }}
          </option>
          <option value="active">
            {{ "statuses.active" | translate }}
          </option>
          <option value="inactive">
            {{ "statuses.inactive" | translate }}
          </option>
        </select>
        @if (userForm.get('status')?.errors?.['required']) {
        <p class="invalid-feedback">
          {{ "details.form.validation.required" | translate }}
        </p>
        }
      </div>

      <div class="mb-3">
        <label class="form-label">{{
          "details.form.fields.bio.label" | translate
        }}</label>
        <textarea
          [class.is-invalid]="isFieldInvalid('bio')"
          class="form-control"
          formControlName="bio"
          placeholder="{{ 'details.form.fields.bio.placeholder' | translate }}"
        ></textarea>
      </div>

      <div class="d-grid gap-2">
        <button
          [disabled]="userForm.invalid"
          class="btn btn-primary"
          type="submit"
        >
          {{
            (isEditing
              ? "details.form.submit.update"
              : "details.form.submit.create"
            ) | translate
          }}
        </button>
      </div>
    </form>
  </div>
</div>
