.offcanvas-body.overflow-auto {
  max-height: calc(100vh - 4.5rem);
  overflow-y: auto;
}

.offcanvas-title {
  font-size: 1.35rem;
}

.offcanvas-header .btn-close {
  font-size: 0.85rem !important;
  outline: none;
  box-shadow: none;
}
