<div class="kanban-column h-100 d-flex flex-column">
  <div
    class="column-header rounded-top bg-body-secondary border border-bottom-0"
  >
    <button
      type="button"
      class="btn w-100 ps-3 pt-2 text-start"
      (click)="onCreateTask.emit({ status: this.column.id })"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
          <i class="text-secondary" [class]="'bi ' + this.column.icon"></i>
          <h3 class="h6 mb-0">{{ this.column.title | translate }}</h3>
          <span class="badge bg-secondary">
            {{ tasks.length }}
          </span>
        </div>

        <i class="bi bi-plus-lg"></i>
      </div>
    </button>
  </div>

  <div
    class="flex-grow-1 p-2 bg-body-tertiary border rounded-bottom"
    cdkDropList
    [cdkDropListData]="tasks"
    [id]="this.column.id"
    (cdkDropListDropped)="onTaskDrop($event)"
  >
    @if (tasks.length === 0) {
    <div class="empty-column text-center py-4 text-muted">
      <p class="mb-0">{{ "kanban.empty" | translate }}</p>
    </div>
    } @for (task of tasks; track task.id) {
    <task-kanban-task
      [task]="task"
      [users]="users"
      (onViewTask)="onViewTask.emit($event)"
      (onEditTask)="onEditTask.emit($event)"
      (onDeleteTask)="onDeleteTask.emit($event)"
    />
    }
  </div>
</div>
